NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=super-secret
JWT_EXPIRES_IN=1d

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=task_mgmt
MYSQL_USER=root
MYSQL_PASSWORD=root

# Mongo
MONGO_URI=mongodb://localhost:27017/task_mgmt

# Uploads
UPLOAD_DIR=uploads

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=app_password
MAIL_FROM="Task Manager <no-reply@taskmanager.com>"


SEED_ADMIN=true
SEED_ADMIN_EMAIL=admin@test.com
SEED_ADMIN_PASSWORD=Admin@123

SEED_MANAGER=true
SEED_MANAGER_EMAIL=manager@test.com
SEED_MANAGER_PASSWORD=Manager@123
